<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Draw</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="">
    </head>
    <body>
        <div class="top-bar">
            <button id="save-btn">Save</button>
            <button id="undo-btn">Undo</button>
            <button id="clear-btn">Clear</button>
            <button id="colorization">Colorization test</button>
            <input type="color" id="color-picker">
            <input type="range" id="brush-size" min="1" max="50" value="10">
        </div>

        <canvas id="draw" width="256" height="256"></canvas>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/draw.js') }}"></script>

        <div class="right-box">
            picture comes here
        </div>
    </body>
</html>